/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    body {
        font-size: 14px;
    }
    .navigation a {
        height: 39px;
        padding: 0 13px;
        font-size: 16px;
    }
    .navigation .slick-track {
        gap: 12px;
    }
    .navigation {
        width: 480px;
    }
    .logo img {
        width: 200px;
    }
    .btn-catalog {
        padding: 0 11px;
        height: 40px;
        min-width: 145px;
    }
    .btn-catalog img {
        margin-right: 14px;
        max-width: 21px; 
    }
    .btn-header {
        margin-right: 12px;
    }
    .menu li {
        font-size: 13px;
    }
    .menu {
        gap: 25px;
    }
    .phone-main {
        font-size: 18px;
    }
    .form-search input {
        height: 40px;
        padding: 0 15px;
        padding-right: 30px;
        font-size: 13px;
    }
    .btn-search {
        height: 40px;
    }
    .form-search {
        width: 255px;
    }
    .btn-main {
        height: 40px;
        padding: 0 25px;
        font-size: 14px;
    }
    .btn-main.btn-main_location {
        padding-left: 11px;
    }
    .btn-main.btn-main_location img {
        margin-right: 12px;
        max-width: 21px;
    }
    .list-socials {
        gap: 6px;
    }
    .billbord {
        padding-top: 38px;
        padding-bottom: 50px;
    }
    .slider-banners .slick-slide {
        padding: 0 12px;
    }
    .slider-banners .slick-list {
        margin: 0 -12px;
    }
    .item-banner {
        height: 208px;
        padding: 22px 20px;
        padding-right: 115px;
        font-size: 16px;
    }
    .billbord__block {
        padding: 30px 35px;
        padding-bottom: 0;
    }
    .item-banner__image img {
        transform: scale(0.9);
        transform-origin: 100% 50%;
    }
    .title-big {
        font-size: 34px;
    }
    .slider-banners {
        margin-top: 33px;
    }
    .pickup {
        padding-bottom: 55px;
    }
    .catalog__block, .pickup__block {
        padding: 23px 55px;
        padding-bottom: 40px;
    }
    .title-section {
        font-size: 33px;
    }
    .title-section img {
        max-width: 50px;
        margin-left: 15px;
        margin-bottom: 9px;
    }
    .catalog__image, 
    .pickup__image {
        transform: scale(0.9);
        transform-origin: 100% 0%;
    }
    .item-product__image img {
        transform: scale(0.9);
        transform-origin: 100% 50%;
    }
    .item-product {
        height: 277px;
    }
    .item-product__price {
        padding: 7px 17px;
    }
    .item-product__price strong {
        font-size: 21px;
    }
    .item-product__title {
        font-size: 30px;
        margin: 16px;
        max-width: 200px;
    }
    .select-location .jq-selectbox__select-text {
        padding: 0 47px;
        height: 50px;
        background-position: left 13px center;
        background-size: 21px auto;
    }
    .title-small {
        font-size: 18px;
    }
    .pickup__block .row_main {
        padding-top: 33px;
        padding-bottom: 33px;
    }
    .row {
        margin: 0 -7px;
    }
    .row > div {
        padding: 0 7px;
    }
    .row.row_main {
        margin-bottom: -14px;
    }
    .row.row_main > div {
        margin-bottom: 14px;
    }
    .descr-section {
        max-width: 574px;
    }
    .catalog__block .descr-section {
        margin-bottom: 32px;
        max-width: 854px;
    }
    .item-catalog {
        padding: 9px 10px;
        padding-top: 34px;
    }
    .item-catalog__image {
        height: 175px;
    }
    .item-catalog__title {
        font-size: 16px;
    }
    .item-catalog__descr {
        font-size: 13px;
    }
    .price-main {
        font-size: 21px;
    }
    .item-catalog .btn-main {
        height: 34px;
        padding: 0 16px;
    }
    .tag img {
        max-width: 28px;
    }
    .tags-wrap {
        top: 9px;
        left: 10px;
    }
    .btn-like {
        top: 14px;
        right: 12px;
    }
    .tag span {
        font-size: 12px;
        padding: 2px 5px;
    }
    .bottom-button {
        padding-top: 30px;
    }
    .bottom-button .btn-main {
        height: 46px;
        padding: 0 22px;
    }
    .catalog {
        padding-bottom: 45px;
    }
    .about .title-section {
        max-width: 720px;
        margin-bottom: 26px;
    }
    .tabs a {
        padding: 0 22px;
        height: 38px;
    }
    .about__block {
        padding: 33px 28px;
    }
    .slider-about__item {
        height: 238px;
        border-width: 4px;
    }
    .slider-about .slick-prev {
        left: 48px;
    }
    .slider-about .slick-next {
        right: 48px;
    }
    .title-block {
        font-size: 21px;
    }
    .about__info li {
        padding-left: 39px;
        margin-top: 34px;
    }
    .about__info li img {
        width: 21px;
    }
    .about__info ul {
        max-width: 350px;
    }
    .about {
        padding-bottom: 55px;
    }
    .consultation__block {
        padding: 40px 50px;
        padding-bottom: 85px;
        font-size: 16px;
    }
    .phone-page {
        font-size: 27px;
        margin-top: 35px;
    }
    .consultation__image {
        height: 405px;
        max-width: 320px;
    }
    .consultation__block .list-socials img {
        width: 48px;
    }
    .list-payments {
        margin-top: 37px;
        margin-bottom: 60px;
        gap: 30px;
    }
    .consultation__info {
        padding: 11px 11px;
        left: 15px;
        right: 15px;
        bottom: -26px;
        font-size: 13px;
    }
    .consultation__name {
        font-size: 16px;
    }
    .footer__logo img {
        width: 160px;
    }
    .footer {
        padding-top: 31px;
        padding-bottom: 37px;
        font-size: 16px;
    }
    .footer__nav_small {
        font-size: 13px;
    }
    .wrapper {
        padding-top: 129px;
    }
    .item-sidebar__head {
        font-size: 16px;
        height: 45px;
        padding: 0 12px;
    }
    .item-sidebar__content {
        padding: 10px;
    }
    .item-sidebar__head::after {
        font-size: 13px;
    }
    .list-checkboxes .checkbox {
        margin-bottom: 11px;
    }
    .checkbox {
        font-size: 14px;
    }
    .checkbox label > span:before,
    .checkbox label > span:after {
        width: 22px;
        height: 22px;
    }
    .checkbox label > span {
        padding-left: 35px;
    }
    .banner {
        padding: 20px 24px;
        min-height: 220px;
        margin-bottom: 32px;
        font-size: 21px;
        background-image: url(../img/banner1_mob.jpg);
    }
    .banner__title {
        font-size: 36px;
        line-height: 42px;
        width: 100%;
        text-align: left;
    }
    .banner__time {
        padding: 9px;
        margin-left: 30px;
    }
    .banner__descr {
        max-width: 363px;
    }
    .banner__sale {
        font-size: 27px;
        margin-left: 65px;
    }
    .banner__sale strong {
        font-size: 110px;
        top: -13px;
        line-height: 70%;
        margin-left: 29px;
    }
    .banner__sale img {
        top: 7px;
        left: -14px;
        max-width: 54px;
    }
    .page-catalog .catalog__block {
        padding: 25px 45px;
        padding-bottom: 32px;
    }
    .section-info, .page-catalog {
        padding-bottom: 60px;
    }
    .section-info h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .slider-for__item {
        height: 300px;
    }
    .card-details {
        padding: 11px 14px;
        font-size: 12px;
        line-height: 140%;
    }
    .card-details__title {
        font-size: 14px;
        margin-bottom: 7px;
    }
    .card-details ul {
        margin-bottom: 13px;
    }
    .card-details ul li {
        padding-left: 20px;
        margin-bottom: 7px;
    }
    .card-details ul li img {
        width: 14px;
    }
    .card-info {
        padding: 18px;
        padding-top: 12px;
    }
    .title-card {
        font-size: 25px;
        line-height: 29px;
    }
    .card-info .tags-wrap {
        top: 13px;
        right: 15px;
    }
    .card-info__descr {
        margin-bottom: 14px;
        line-height: 210%;
    }
    .price-card {
        font-size: 31px;
    }
    .card-info .price-card {
        margin-bottom: 18px;
    }
    .bonus {
        padding: 11px;
    }
    .card-info .bonus {
        margin-bottom: 13px;
    }
    .bonus img {
        margin-right: 10px;
        max-width: 21px;
    }
    .hint {
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }
    .card-info .quantity {
        margin-bottom: 14px;
    }
    .slider-nav__item {
        height: 78px;
        margin-bottom: 4px;
    }
    .page-card {
        padding-bottom: 70px;
    }   
    .table-basket td:first-child {
        width: 125px;
    }
    .table-basket table {
        font-size: 13px;
    }
    .table-basket td:nth-child(2) {
        width: 505px;
    }
    .feature-table {
        max-width: 397px;
    } 
    .total-order {
        padding-top: 10px;
        padding-right: 30px;
        margin-bottom: 25px;
    }
    .total-order strong {
        font-size: 30px;
        margin-left: 15px;
    }
    .unit-order__title {
        padding: 12px;
        font-size: 18px;
    }
    .unit-order__head {
        margin-bottom: 26px;
    }
    .check-delivery__image {
        width: 98px;
        height: 98px;
        margin-right: 17px;
    }
    .check-delivery__wrap {
        padding: 15px;
        font-size: 16px;
    }
    .check-delivery label > .check-delivery__wrap:before,
    .check-delivery label > .check-delivery__wrap:after {
        top: 21px;
        left: 21px;
        width: 22px;
        height: 22px;
    }
    .check-delivery {
        max-width: 330px;
        margin-bottom: 22px;
    }
    .unit-order__location {
        margin-bottom: 29px;
    }
    .checkbox_time {
        margin-bottom: 30px;
    }
    .item-select .jq-selectbox__select-text {
        height: 44px;
    }
    .item-select .jq-selectbox__trigger {
        right: 10px;
    }
    #map-delivery {
        height: 275px;
        max-width: 660px;
    }
    .unit-order {
        margin-bottom: 40px;
    }
    .page-order {
        padding-bottom: 75px;
    }
    .bottom-form .btn-main {
        width: 265px;
        height: 45px;
    }
    .bottom-form {
        padding-top: 8px;
    }
    .page-order .title-section {
        margin-bottom: 22px;
    }
    .basket-main__info span {
        font-size: 18px;
        margin-top: 7px;
    }
    .basket-main__info strong {
        font-size: 29px;
        margin-top: 7px;
    }
    .line-bonus .item-form input {
        height: 44px;
        padding: 0px 26px;
        font-size: 18px;
    }
    .line-bonus .item-form {
        width: 130px;
    }
    .line-bonus p {
        margin-right: 30px;
    }
    .basket-main .bonus {
        font-size: 16px;
    }
    .basket-main .bonus span > strong {
        font-size: 18px;
    }
    .basket-main .btn-main {
        height: 44px;
        padding: 0 30px;
    }
    .page-basket .table-basket td:nth-child(2) {
        width: 480px;
    }
    .price-basket {
        font-size: 18px;
    }
    .page-basket {
        padding-bottom: 100px;
    }
    .personal-main {
        padding: 32px 32px;
        padding-bottom: 44px;
        margin-bottom: 29px;
    }
    .personal-input input {
        height: 37px;
        font-size: 16px;
    }
    .personal-input {
        height: 65px;
        margin-bottom: 9px;
        padding: 9px 16px;
    }
    .personal-input__edit {
        right: 18px;
    }
    .bonus-account {
        padding: 26px 33px;
        padding-bottom: 16px;
    }
    .bonus-account__image {
        margin-left: -33px;
    }
    .bonus-account ul li::before {
        top: 2px;
        left: 0;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .bonus-account ul li::after {
        width: 22px;
        height: 22px;
        top: 48px;
        left: 9px;
    }
    .bonus-account ul {
        max-width: 504px;
    }
    .history-block,
    .history-main {
        padding: 33px 40px;
        padding-bottom: 35px;
        padding-right: 50px;
        margin-bottom: 45px;
    }
    .item-history {
        padding: 18px 33px;
        padding-bottom: 10px;
        padding-right: 17px;
    }
    .item-history__value {
        font-size: 18px;
        margin-top: 8px;
    }
    .history-block .title-block,
    .history-main .title-block {
        margin-bottom: 27px;
    }
    .history-main__descr {
        margin-top: 42px;
    }
    .history-block .table-basket td:nth-child(2) {
        width: 348px;
    }
    .history-block .table-basket td:nth-child(3) {
        width: 405px;
    }
    .history-block {
        margin-bottom: 0;
    }
    .page-about .title-block {
        margin-bottom: 20px;
    }
    .documents {
        padding-top: 54px;
        padding-bottom: 55px;
    }
    .row.row_documents > div {
        padding: 0 15px;
    }
    .row.row_documents {
        margin: 0 -15px;
    }
    .documents__img {
        height: 364px;
        border-radius: 16px;
        padding: 15px;
        margin-bottom: 15px;
    }
    .documents .descr-section {
        margin-bottom: 27px;
    }
    .privacy-policy h2 {
        font-size: 22px;
        margin-bottom: 19px;
    }
    .privacy-policy p {
        margin-bottom: 10px;
    }
    .privacy-policy ol li {
        margin-bottom: 10px;
    }
    .privacy-policy ol {
        margin-bottom: 22px;
    }
    .privacy-policy .title-section {
        margin-bottom: 24px;
    }
    .delivery-form {
        padding: 25px 82px;
        margin-bottom: 38px;
    }
    .svg-overlay {
        width: 35%; 
          left: 47%;
     }
      .map-item{
         top: 14%;
         left: 64%;
      }
      .item-delivery {
        margin-bottom: 19px;
        max-width: 232px;
    }
    .delivery-subtitle {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 24px;
        max-width: 314px;
    }
    .item-delivery span {
        font-size: 16px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    body {
        font-size: 12px;
    }
    .menu li {
        font-size: 11px;
    }
    .menu {
        gap: 11px;
    }
    .phone-main img {
        margin-right: 12px;
        width: 26px;
    }
    .list-socials img {
        width: 26px;
    }
    .list-socials {
        gap: 4px;
    }
    .phone-main {
        font-size: 15px;
    }
    .form-search {
        width: 192px;
    }
    .btn-main.btn-main_location {
        font-size: 12px;
        padding: 0 16px;
        padding-left: 7px;
        height: 36px;
    }
    .btn-main.btn-main_location img {
        margin-right: 7px;
        max-width: 16px;
    }
    .form-search input {
        height: 36px;
        padding: 0 10px;
        padding-right: 30px;
        font-size: 12px;
    }
    .btn-search {
        height: 36px;
    }
    .navigation a {
        height: 35px;
        padding: 0px 9px;
        font-size: 13px;
    }
    .navigation .slick-track {
        gap: 8px;
    }
    .btn-catalog {
        padding: 0 9px;
        height: 38px;
        min-width: 118px;
    }
    .btn-catalog img {
        margin-right: 12px;
        max-width: 18px;
    }
    .navigation {
        width: 320px;
    }
    .header__top {
        padding: 10px 0;
    }
    .billbord__block {
        padding: 15px 20px;
        padding-bottom: 0;
    }
    .title-big {
        font-size: 30px;
    }
    .slider-banners {
        margin-top: 24px;
    }
    .slider-banners .slick-slide {
        padding: 0 6px;
    }
    .slider-banners .slick-list {
        margin: 0 -6px;
    }
    .item-banner__value {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .item-banner {
        height: 175px;
        padding: 22px 16px;
        padding-right: 85px;
        font-size: 13px;
    }
    .item-banner__image img {
        transform: scale(0.8);
    }
    .descr-section {
        max-width: 489px;
    }
    .catalog__image, .pickup__image {
        transform: scale(0.8);
    }
    .catalog__block, .pickup__block {
        padding: 20px 24px;
        padding-bottom: 30px;
    }
    .item-product__image img {
        transform: scale(0.8);
    }
    .item-product {
        height: 247px;
    }
    .item-product__title {
        font-size: 25px;
        margin: 13px;
        max-width: 182px;
    }
    .select-location .jq-selectbox__select-text {
        height: 45px;
    }
    .catalog__block .descr-section {
        margin-bottom: 25px;
        max-width: 710px;
    }
    .item-catalog__image {
        height: 150px;
    }
    .slider-about__item {
        height: 181px;
    }
    .about__info li {
        padding-left: 30px;
        margin-top: 18px;
    }
    .about__info li img {
        width: 17px;
    }
    .consultation__block .descr-section {
        margin-bottom: 25px;
    }
    .consultation__block {
        padding: 29px 30px;
        padding-bottom: 70px;
        font-size: 14px;
    }
    .consultation__image {
        height: 335px;
    }
    .consultation__info {
        padding: 8px 9px;
        left: 8px;
        right: 8px;
        bottom: -17px;
        font-size: 11px;
    }
    .title-block {
        font-size: 17px;
    }
    .consultation__block .list-socials img {
        width: 36px;
    }
    .list-payments {
        margin-top: 25px;
        margin-bottom: 49px;
        gap: 19px;
    }
    .phone-page {
        font-size: 24px;
        margin-top: 19px;
    }
    .consultation__block .list-socials {
        margin-top: 35px;
        margin-bottom: 55px;
    }
    .footer {
        font-size: 15px;
    }
    .footer__nav_small {
        grid-template-columns: 1.2fr 0.8fr;
    }
    .wrapper {
        padding-top: 119px;
    }
    .page-catalog .catalog__block {
        padding: 25px 15px;
        padding-bottom: 32px;
    }
    .title-card {
        font-size: 19px;
        line-height: 26px;
    }
    .price-card {
        font-size: 28px;
    }
    .card-details {
        padding: 10px 8px;
        font-size: 10px;
    }
    .card-details ul {
        margin-bottom: 9px;
    }
    .card-info__descr {
        margin-bottom: 10px;
    }
    .slider-for__item {
        height: 275px;
    }
    .slider-nav__item {
        height: 65px;
    }
    .table-basket td:nth-child(2) {
        width: 315px;
    }
    .checkbox__content {
        padding: 12px 12px;
    }
    .checkbox label > span {
        padding-left: 30px;
    }
    .basket-main .bonus {
        font-size: 14px;
    }
    .basket-main .bonus span > strong {
        font-size: 16px;
    }
    .line-bonus .item-form input {
        height: 40px;
        padding: 0px 23px;
        font-size: 16px;
    }
    .line-bonus .item-form {
        width: 120px;
    }
    .page-basket .table-basket td:nth-child(2) {
        width: 305px;
    }
    .history-block, .history-main {
        padding: 27px 20px;
        padding-bottom: 29px;
    }
    .item-history {
        padding: 16px 19px;
        padding-bottom: 9px;
        padding-right: 10px;
    }
    .item-history__value {
        font-size: 16px;
        margin-top: 7px;
    }
    .history-block .table-basket td:nth-child(2) {
        width: 310px;
    }
    .history-block .table-basket td:nth-child(3) {
        width: 250px;
    }
    .documents-block{
        padding: 35px 50px;
    }
    .documents__img {
        height: 293px;
    }
    .documents .descr-section {
        margin-bottom: 20px;
        max-width: 613px;
    }
    .privacy-policy .title-section {
        font-size: 31px;
    }
    .delivery-form {
        padding: 25px 40px;
        margin-bottom: 35px;
    }
    .map-item{
        top: 11%;
        left: 67%;
         width: 300px;
         height: 65px;
     }
     .delivery-subtitle {
        font-size: 16px;
        margin-top: 17px;
        margin-bottom: 20px;
     }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header__bottom .btn-catalog,
    .header__bottom .btn-header,
    .header__top .phone-main,
    .header__top .btn-main.btn-main_location,
    .header__top .menu {
        display: none;
    }
    .list-socials img {
        width: 30px;
    }
    .header__top {
        padding: 0;
        flex-wrap: wrap;
    }
    .form-search {
        width: 100%;
        margin-top: 18px;
        order: 2;
    }
    .header {
        padding-top: 19px;
        box-shadow: none;
    }
    .header .list-socials {
        margin-left: auto;
    }
    .header__bottom {
        padding-top: 14px;
        position: relative;
    }
    .header__bottom .logo {
        margin-bottom: 52px;
        bottom: 100%;
        display: block;
        left: 0;
        position: absolute;
    }
    .logo img {
        width: 159px;
    }
    .navigation {
        width: 100%;
        margin: 0;
    }
    .navigation .slick-prev {
        left: 0;
    }
    .navigation .slick-next {
        right: 0;
    }
    .navigation a {
        height: 33px;
        padding: 0px 12px;
        font-size: 14px;
    }
    .navigation .slick-track {
        gap: 3px;
    }
    .form-search input {
        height: 42px;
        padding: 0 17px;
        padding-right: 30px;
        font-size: 13px;
    }
    .slick-arrow {
        width: 30px;
        height: 30px;
        font-size: 13px;
    }
    .sandwich {
        margin-left: 10px;
        display: flex;
    }
    .list-socials {
        gap: 8px;
    }
    .billbord__block::before {
        bottom: 0;
    }
    .billbord__block {
        padding: 9px;
        padding-top: 24px;
    }
    .title-big {
        font-size: 22px;
    }
    .item-banner {
        height: 157px;
        font-size: 14px;
        padding: 18px;
        padding-top: 14px;
        border-radius: 14px;
    }
    .item-banner__value {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 5px;
    }
    .item-banner .btn-main {
        font-size: 12px;
        padding: 0 12px;
        height: 28px;
    }
    .slider-banners {
        margin-top: 20px;
    }
    .item-banner__image img {
        transform: scale(0.7);
    }
    .slider-banners .slick-dots {
        bottom: 6px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 51%;
        height: 3px;
        background: #F7F7F7;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
    .slider-banners .slick-dots li {
        flex: 1;
        width: auto;
        margin: 0;
        height: auto;
    }
    .slider-banners .slick-dots li button {
        border-radius: 3px;
        width: 100%;
        height: 3px;
        background: transparent;
        border: none;
        padding: 0;
        transition: all 0.3s;
    }
    .slider-banners .slick-dots li.slick-active button {
        background: #64C355;
    }
    .billbord {
        padding-top: 14px;
        padding-bottom: 21px;
    }
    .catalog__image, .pickup__image {
        display: none;
    }
    .title-section {
        font-size: 22px;
    }
    .title-section img {
        max-width: 36px;
        margin-left: 10px;
        margin-bottom: 7px;
    }
    body {
        font-size: 13px;
    }
    .catalog__block, .pickup__block {
        padding: 17px;
        padding-top: 9px;
        border-radius: 18px;
    }
    .item-product {
        height: 292px;
        margin: 0 -8px;
        border-radius: 16px;
    }
    .pickup__block .row_main {
        padding-top: 15px;
        padding-bottom: 17px;
    }
    .item-product__price strong {
        font-size: 20px;
        margin-left: 6px;
        display: inline;
    }
    .item-product__price {
        padding: 7px 14px;
        font-size: 14px;
    }
    .item-product__title {
        font-size: 24px;
        margin: 0;
        margin-top: 14px;
    }
    .hidden-mob {
        display: none !important;
    }
    .item-product_1 .item-product__image img {
        transform: none;
        margin: 0 auto;
    }
    .item-product_1 .item-product__image {
        right: 0;
        left: 0;
        top: auto;
    }
    .item-product__image {
        top: auto;
    }
    .item-product__image img {
        transform: scale(0.65);
        transform-origin: 100% 100%;
    }
    .row.row_main > div {
        margin-bottom: 8px;
    }
    .row.row_main {
        margin-bottom: -8px;
    }
    .select-location .jq-selectbox__select-text {
        padding: 16px 50px;
        padding-right: 40px;
        font-size: 13px;
        line-height: 130%;
        white-space: normal;
        height: auto;
        background-size: 24px auto;
        background-position: 16px 16px;
    }
    .select-location .jq-selectbox__trigger {
        top: 16px;
        bottom: auto;
    }
    .wrap-select {
        display: block;
    }
    .select-location .jqselect {
        display: block !important;
    }
    .pickup {
        padding-bottom: 24px;
    }
    .row > div {
        padding: 0 4px;
    }
    .row {
        margin: 0 -4px;
    }
    .item-catalog__image {
        height: 110px;
    }
    .item-catalog__title {
        font-size: 13px;
    }
    .item-catalog__descr {
        font-size: 12px;
        line-height: 120%;
    }
    .item-catalog__bottom {
        padding-top: 8px;
        display: block;
    }
    .item-catalog__value {
        font-size: 12px;
    }
    .item-catalog {
        padding-bottom: 11px;
        padding-top: 20px;
    }
    .price-main {
        font-size: 18px;
        margin-bottom: 5px;
        line-height: 144%;
    }
    .tag img {
        max-width: 22px;
    }
    .tags-wrap {
        top: 8px;
        left: 8px;
    }
    .btn-like {
        width: 16px;
        height: 16px;
        top: 11px;
        right: 9px;
    }
    .item-catalog .btn-main {
        width: 100%;
        height: 32px;
        font-size: 13px;
    }
    .bottom-button {
        padding-top: 22px;
    }
    .catalog__block {
        padding-bottom: 28px;
    }
    .bottom-button .btn-main {
        height: 40px;
        padding: 0 20px;
        font-size: 13px;
    }
    .catalog {
        padding-bottom: 24px;
    }
    .tabs-wrap {
        display: block;
    }
    .tabs {
        display: block;
    }
    .tabs .slick-track {
        display: flex;
        gap: 10px;
    }
    .tabs a {
        padding: 0 13px;
        height: 40px;
        max-width: 153px;
        justify-content: flex-start;
        text-align: left;
        font-size: 13px;
        line-height: 123%;
    }
    .tabs .slick-disabled {
        opacity: 0;
        visibility: hidden;
    }
    .about .title-section {
        margin-bottom: 22px;
    }
    .tabs-wrap {
        margin-bottom: 17px;
    }
    .about__block {
        padding: 16px 14px;
        border-radius: 18px;
    }
    .about__info li {
        margin-top: 22px;
    }
    .slider-about__item {
        width: 280px;
        height: 183px;
        border-radius: 14px;
    }
    .slider-about__item img {
        border-radius: 14px;
    }
    .slider-about {
        margin-top: 27px;
        margin-right: -30px;
    }
    .slider-about .slick-next {
        right: 13px;
    }
    .slider-about .slick-prev {
        left: 20px;
    }
    .slider-about .slick-disabled {
        opacity: 0;
        visibility: hidden;
    }
    .about {
        padding-bottom: 22px;
    }
    .consultation {
        padding-bottom: 26px;
    }
    .consultation__block {
        padding: 14px;
        padding-top: 11px;
        border-radius: 18px;
        font-size: 16px;
    }
    .consultation__image {
        width: 170px;
        height: 170px;
        margin-bottom: 10px;
        border-radius: 50%;
    }
    .consultation__image img {
        border-radius: 50%;
        object-position: top;
    }
    .consultation__info {
        top: 48px;
        left: 100%;
        width: 175px;
        padding: 12px;
        font-size: 12px;
        line-height: 133%;
        margin-left: -24px;
        right: auto;
        bottom: auto;
    }
    .consultation__name {
        font-size: 14px;
    }
    .row_consultation > div:not(:first-child) {
        padding-top: 12px;
    }
    .consultation__block .title-block {
        font-size: 20px;
    }
    .phone-page {
        font-size: 28px;
        margin-top: 30px;
    }
    .consultation__block .list-socials img {
        width: 56px;
    }
    .consultation__block .list-socials {
        margin-top: 24px;
        margin-bottom: 33px;
    }
    .list-payments {
        gap: 37px;
        margin-top: 19px;
        margin-bottom: 36px;
    }
    .row_consultation > div:last-child .title-block {
        max-width: 300px;
    }
    .footer {
        padding-top: 25px;
        font-size: 16px;
        padding-bottom: 80px;
        border-radius: 46px 46px 0 0;
    }
    .footer__logo {
        width: 160px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .footer__title {
        font-size: 18px;
    }
    .footer__nav_small {
        font-size: 14px;
        margin-bottom: 23px;
    }
    .footer__nav {
        grid-template-columns: 1.3fr 0.7fr;
    }
    .footer__nav li {
        padding-right: 20px;
    }
    .buttons-fixed {
        padding: 15px;
        padding-bottom: 10px;
        background: #F7F7F7;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 900;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn-fixed__icon {
        width: 24px;
        height: 24px;
        margin: 0 auto;
        margin-bottom: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .btn-fixed {
        font-size: 10px;
        line-height: 12px;
        color: #AFBBB5;
        display: block;
        text-align: center;
    }
    .btn-fixed__value {
        width: 18px;
        height: 18px;
        top: -8px;
        right: -14px;
        font-size: 10px;
        font-weight: 600;
        background: #64C355;
        color: #fff;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .wrapper {
        padding-top: 169px;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 0px 15px;
        padding-bottom: 50px;
        display: none;
        overflow: auto;
        background-color: #fff;
        position: absolute;
      }
      .menu a {
        margin: 0;
        padding: 10px;
        border-radius: 0;
        text-align: left;
        font-weight: 500;
        height: auto;
        display: block;
        position: relative;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #191E27;
      }
      .menu-mobile .menu {
        display: block;
        margin: 0;
        margin-bottom: 15px;
      }
      .menu li {
        font-size: 14px;
    }
    .btn-main.btn-main_location {
        font-size: 13px;
        padding: 0 19px;
        padding-left: 10px;
        height: 38px;
        margin-bottom: 15px;
    }
    .btn-main.btn-main_location img {
        margin-right: 10px;
        max-width: 19px;
    }
    .menu-overlay {
        top: 170px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: -1;
    }
    .wrapper {
        overflow: hidden;
    }
    .sidebar-catalog {
        display: none;
    }
    .breadcrumbs {
        padding-top: 0;
        padding-bottom: 10px;
        font-size: 13px;
    }
    .page-catalog .title-section {
        margin-bottom: 16px;
    }
    .banner {
        padding: 16px;
        border-radius: 16px;
        font-size: 16px;
        margin-bottom: 18px;
        line-height: 137%;
        background-image: url(../img/banner1_mob.jpg);
    }
    .banner__time {
        font-size: 14px;
        padding: 9px 10px;
        margin-top: 17px;
        margin-bottom: -45px;
        line-height: 143%;
    }
    .banner__descr {
        max-width: 200px;
    }
    .banner__head {
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
    }
    .banner__title {
        font-size: 32px;
        line-height: 39px;
        width: 100%;
        text-align: left;
    }
    .banner__sale {
        font-size: 24px;
        line-height: 108%;
        max-width: 200px;
        margin: 0;
        flex-wrap: wrap;
    }
    .banner__sale strong {
        font-size: 96px;
        top: 0;
        margin-top: 5px;
        line-height: 92%;
        margin-left: 0;
    }
    .banner__sale img {
        top: 20px;
        left: -14px;
        max-width: 47px;
    }
    .page-catalog .catalog__block {
        padding: 15px 15px;
        padding-bottom: 28px;
    }
    .page-catalog .catalog__block .row_main > div:nth-child(n+7) {
        display: none;
    }
    .section-info, .page-catalog {
        padding-bottom: 28px;
    }
    .section-info {
        font-size: 16px;
        line-height: 125%;
        font-weight: 400;
    }
    .section-info h2 {
        font-size: 22px;
        margin-bottom: 18px;
        line-height: 118%;
    }
    .item-sidebar__head::after {
        display: none;  
    }
    .sidebar-mobile .item-sidebar:not(:first-child) {
        display: none;
    }
    .item-sidebar__head {
        position: relative;
    }
    .next-sidebar,
    .prev-sidebar {
        width: 40px;
        height: 50%;
        font-size: 12px;
        top: 0;
        right: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .next-sidebar {
        bottom: 0;
        top: auto;
    }
    .item-sidebar__content {
        display: block !important;
    }
    .sidebar-mobile {
        margin-bottom: 30px;
    }
    .col_for {
        order: -1;
    }
    .slider-for__item {
        height: 350px;
    }
    .slider-for-wrap .btn-like {
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        background: transparent;
    }
    .slider-nav__item {
        margin: 0;
    }
    .slider-nav__item {
        height: 94px;
    }
    .slider-nav {
        margin-top: 12px;
        padding-right: 37px;
    }
    .slider-nav .slick-arrow {
        top: 50%;
        bottom: auto;
        margin: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    .slider-nav .slick-prev {
        left: 0;
        right: auto;
    }
    .slider-nav .slick-next {
        right: 0;
        left: auto;
    }
    .card-info {
        padding: 12px;
        margin-bottom: 17px;
        margin-top: 12px;
        min-height: initial;
    }
    .title-card {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 2px;
        padding-right: 0;
    }
    .card-info__descr {
        font-size: 14px;
        margin-bottom: 22px;
    }
    .price-card {
        line-height: 93%;
    }
    .card-info .price-card {
        margin-bottom: 17px;
    }
    .card-info__line {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .card-info .bonus {
        margin: 0;
    }
    .card-info .quantity {
        margin: 0;
    }
    .quantity {
        width: 104px;
        height: 44px;
    }
    .bonus img {
        margin-right: 6px;
        max-width: 20px;
    }
    .bonus {
        padding: 10px;
    }
    .card-info__buttons {
        gap: 10px;
        width: 100%;
    }
    .card-info__buttons .btn-main {
        height: 48px;
        padding: 0;
        font-size: 16px;
        flex: 1;
    }
    .hint__content::before {
        position: absolute;
        display: block;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(-1, 1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../img/bg_hint.svg);
        filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.1));
        z-index: -1;
    }
    .hint__content {
        right: 9px;
        padding: 10px;
        padding-right: 26px;
        left: auto;
        filter: none;
        background: transparent;
        visibility: visible;
        opacity: 1;
        display: none;
        transition: initial;
    }
    .col_details {
        order: 2;
    }
    .consist-card {
        font-size: 14px;
        line-height: 170%;
        margin: 0;
        margin-bottom: 30px;
    }
    .card-details {
        padding: 14px 20px;
        font-size: 14px;
        line-height: 143%;
    }
    .card-details__title {
        font-size: 16px;
        margin-bottom: 8px;
        line-height: 150%;
    }
    .card-details ul li {
        padding-left: 28px;
        margin-bottom: 12px;
    }
    .card-details ul li img {
        width: 16px;
    }
    .card-details ul {
        margin-bottom: 20px;
    }
    .page-card {
        padding-bottom: 30px;
    }
    .table-basket table,
    .table-basket tbody,
    .table-basket tr,
    .table-basket td {
        display: block;
    }
    .table-basket tr {
        position: relative;
    }
    .remove-basket {
        top: 5px;
        right: 5px;
        position: absolute;
    }
    .table-basket td:last-child {
        padding: 0;
    }
    .total-order {
        padding-right: 0;
        text-align: left;
    }
    .selects-time {
        padding-bottom: 15px;
    }
    .bottom-form {
        flex-direction: column;
        align-items: center;
    }
    .bottom-form .checkbox {
        margin-top: 15px;
    }
    .page-order {
        padding-bottom: 37px;
    }
    .bottom-form .btn-main {
        width: 100%;
    }
    .basket-main {
        padding: 25px 15px;
        flex-wrap: wrap;
    }
    .basket-main__content {
        width: 100%;
        margin-bottom: 15px;
        flex: none;
    }
    .basket-main__info {
        flex: 1;
    }
    .basket-main .btn-main {
        width: 100%;
        margin-top: 20px;
    }
    .page-basket .title-section {
        margin-bottom: 18px;
    }
    .page-basket .table-basket td:nth-child(2) {
        width: 100%;
    }
    .table-basket .quantity {
        margin: 0;
    }
    .page-basket {
        padding-bottom: 30px;
    }

    .table-basket tr {
        position: relative;
    }
    .table-basket td:nth-child(2) {
        padding-left: 120px;
        padding-top: 4px;
        margin-bottom: 14px;
        min-height: 100px;
    }
    .image-table {
        top: 0;
        left: 0;
        position: absolute;
    }
    .history-block .title-table {
        margin-bottom: 5px;
    }
    .history-block .table-basket td:nth-child(3) {
        width: 100%;
    }
    .detail-table {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .detail-table:last-child {
        margin-bottom: 8px;
    }
    .table-basket td {
        padding: 0;
    }
    .detail-table strong {
        font-weight: 600;
    }
    .table-basket {
        margin-bottom: 18px;
    }
    .table-basket:last-child {
        margin-bottom: 0;
    }
    .table-basket {
        padding: 16px;
    }
    .history-block .bottom-button {
        padding-top: 6px;
    }
    .page-basket .table-basket td:nth-child(4) {
        width: 100%;
    }
    .detail-table strong {
        margin-left: auto;
    }
    .price-basket {
        padding-top: 15px;
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    .price-basket::before {
        font-size: 14px;
        font-weight: 500;
        content: "Общая сумма:";
    }
    .detail-table_price::before {
        content: "Цена за единицу товара:";
    }
    .page-about .title-section {
        margin-bottom: 17px;
    }
    .documents-block {
        padding: 20px;
        border-radius: 24px;
        padding-bottom: 30px;
    }
    .documents__img {
        height: 360px;
    }
    .row.row_documents > div {
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .row.row_documents {
        margin: -15px;
        margin-top: 0;
    }
    .documents__item {
        max-width: 296px;
        margin: 0 auto;
    }
    .documents {
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .privacy-policy .title-section {
        font-size: 24px;
    }
    .privacy-policy h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .privacy-policy {
        padding-bottom: 35px;
        font-size: 14px;
    }
    .head-delivery {
        padding-top: 8px;
        padding-bottom: 22px;
    }
    .line-form {
        display: block;
    }
    .line-form .item-form {
        margin: 0;
        margin-bottom: 20px;
    }
    .line-form .btn-main {
        height: 50px;
        width: 100%;
        padding: 0 10px;
    }
    .delivery-form {
        padding: 20px;
    }
    .map-item{
        top: 13%;
        left: 63%;
     }
     .delivery-subtitle {
        font-size: 17px;
        max-width: 296px;
     }
     .item-delivery {
        max-width: 203px;
    }
    .basket-main__content .hint__content {
        right: -70px;
        border-radius: 8px;
        filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.1));
        background: #fff;
        margin-bottom: 8px;
    }
    .hint__content::before {
        display: none;
    }
    .hint__content {
        border-radius: 8px;
        filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.1));
        background: #fff;
        margin-bottom: 8px;
        height: auto;
    }

    .tabs.no-tabs {
        display: flex;
    }
    .personal-main {
        padding: 20px 15px;
    }
    .card-bonus {
        width: 350px;
        margin-bottom: 26px;
        padding: 17px 25px;
        padding-right: 37px;
        justify-content: space-between;
        margin-top: 0;
    }
    .personal-main .title-block {
        margin-bottom: 17px;
    }
    .card-bonus__image img {
        width: 95px;
    }
    .card-bonus__image {
        margin-right: 0;
    }
    .card-bonus__value {
        font-size: 16px;
    }
    .card-bonus__value strong {
        font-size: 36px;
        line-height: 44px;
    }
    .personal-input__edit {
        right: 8px;
    }
    .personal-input__title {
        font-size: 13px;
    }
    .personal-input.personal-input_main {
        padding-left: 78px;
    }
    .personal-input input {
        height: 37px;
        font-size: 16px;
    }
    .bonus-account ul li::before {
        width: 44px;
        height: 44px;
        font-size: 20px;
    }
    .bonus-account ul li::after {
        width: 24px;
        height: 24px;
        top: 48px;
        left: 10px;
    }
    .personal-input {
        height: 60px;
        margin-bottom: 10px;
    }
    .bonus-account {
        padding: 20px 15px;
    }
    .bonus-account__image {
        margin-left: -15px;
        margin-right: -15px;
    }
    .bonus-account .title-block {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .bonus-account ul li {
        margin-bottom: 18px;
    }
    .page-personal {
        padding-bottom: 40px;
    }
    .tabs.no-tabs li {
        flex: 1;
    }
    .history-block, .history-main {
        padding: 20px;
        padding-bottom: 30px;
    }
    .history-main {
        margin-bottom: 24px;
    }
    .history-block .title-block, .history-main .title-block {
        font-size: 22px;
        margin-bottom: 26px;
    }
    .item-history {
        font-size: 14px;
        padding: 0 15px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .item-history__value {
        font-size: 18px;
        min-width: 100px;
        margin: 0;
        margin-left: 10px;
    }
    .history-main__descr {
        font-size: 14px; 
        margin-top: 20px;
        line-height: 143%;
    }
    .title-table {
        padding-right: 43px;
    }
    .page-personal .tabs a {
        max-width: 100%;
        text-align: center;
        justify-content: center;
    }
    .history-block .detail-table strong {
        margin: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .map-item img {
        max-width: 17px;
    }
    .map-info div {
        font-size: 12px;
    }
    .map-item  {
        font-size: 10px;
        height: auto;
        top: 9%;
        left: 64%;
        width: 225px;
        gap: 5px;
        padding: 7px 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .slider-for__item {
        height: 270px;
    }
    .map-item {
        top: 5%;
        left: 67%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sidebar-mobile,
    .show-mob,
    .menu-overlay,
    .menu-mobile,
    .buttons-fixed {
        display: none !important;
    }

    .slider-about .slick-list {
        padding-top: 7%!important;
        padding-bottom: 7%!important;
        padding-left: 22%!important;
        padding-right: 22%!important;
    }
    .slider-about .slick-dots {
        text-align: right;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .slider-about .slick-track {
        max-width: 100%!important;
        transform: translate3d(0, 0, 0)!important;
        perspective: 100px;
    }
    .slider-about .slick-slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        width: 100%!important;
        transform: translate3d(0, 0, 0);
        transition: transform 1s, opacity 1s;
    }
    .slider-about .slick-snext,
    .slider-about .slick-sprev {
        display: block;
    }
    .slider-about .slick-current {
        opacity: 1;
        position: relative;
        display: block;
        transform: translate3d(0, 0, 20px);
        z-index: 2;
    }
    .slider-about .slick-snext {
        opacity: 0.4;
        transform: translate3d(36%, 0, 0px);
        z-index: 1;
    }
    .slider-about .slick-sprev {
        opacity: 0.4;
        transform: translate3d(-36%, 0, 0px);
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
    max-width: 1420px;
}
}